//Mixins
%distribution-content {
    display: flex;
    flex-flow: column nowrap;
}
.calories-item {
    @extend %distribution-content;
    justify-content: space-around;
    background: #a5a4a4;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685), 0 6px 20px 0 rgba(0, 0, 0, 0.685);
    padding: 25px 20px;
    max-width: 230px;
    margin: 10px 20px;
    text-align: center;
    @media screen and (max-width: 1000px) {
        min-width: 300px;
    }
    @media screen and (max-width: 500px) {
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
    }
    &__title {
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 30px;
        border-bottom: 2px solid black;
        padding-bottom: 10px;
    }
    &-card {
        &-items {
            @extend %distribution-content;
            font-size: 20px;
            color: white;
            border-bottom: 1px black dotted;
            padding: 10px 0;
            margin: 5px 10px;
            @media screen and (max-width: 1000px) {
                margin: 3px 5px;
            }
            @media screen and (max-width: 500px) {
                font-size: 18px;
                margin: 5px 30px;
            }
            &__name {
                font-weight: bold;
                margin-bottom: 10px;
            }
            &__amount {
                color: black;
                font-weight: lighter;
            }
        }
    }
}