.button {
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 18px;
    background: #a5a4a4;
    color: black;
    border: none;
    box-shadow: 0 4px 8px 0 #e2cc03, 0 6px 20px 0 #e2cc03;
    margin: 50px 0;
    font-weight: 800;
    margin: 40px 20px;
    cursor: pointer;
    &:hover {
        background:#f34500;
        box-shadow: none;
        color: white;
        box-shadow: none;
    }
}