.menu {
    background-color: #5a5a5a;
    width: 85%;
    padding: 10px;
    border-radius: 12px;
    color: #000000;
    text-shadow: 5px 2px 2px #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row nowrap;
}