$color-title: #ffe600;
$text-shadow-title: 5px 2px 2px #f34500;
.subcategory {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @media screen and (max-width: 1320px) {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 715px) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 540px) {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
    }

    &-card {
        background: #a5a4a4;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        border-radius: 12px;
        border: none;
        margin: 10px;
        padding: 10px 0 0 0;
        width: 170px;
        min-width: 90px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685), 0 6px 20px 0 rgba(0, 0, 0, 0.685);

        @media screen and (max-width: 650px) {
            width: 200px;
        }

        @media screen and (max-width: 540px) {
            width: 260px;
        }

        &__image {
            width: 130px;
            margin-top: 3px;

            @media screen and (max-width: 1200px) {
                width: 100px;
            }

            @media screen and (max-width: 540px) {
                width: 200px;
            }

        }
        &__title {
            color: $color-title;
            text-shadow: $text-shadow-title;
            font-size: 1.5rem;
            margin: 8px 0 3px 0;

            @media screen and (max-width: 1250px) {
                font-size: 1.3rem;
            }

            @media screen and (max-width: 540px) {
                font-size: 2rem;
            }
        }
        &__counter {
            display: flex;
            border-top: 1px solid black;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 10px;
            padding: 0;
            background: lightgrey;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            font-size: 18px;
            width: 100%;
            &__button {
                font-weight: 700;
                width: 100%;
                padding: 10px;
                font-size: 20px;
                cursor: pointer;
                &:hover {
                    background: #e2cc03;
                    color: #f34500;
                }
                &--left {
                    border-right: 1px solid black;
                    &:hover {
                        border-bottom-left-radius: 12px;
                    }
                }
                &--right {
                    border-left: 1px solid black;
                    &:hover {
                        border-bottom-right-radius: 12px;
                        border-bottom-left-radius: 0;
                    }
                }
            }
            &__amount {
                width: 100%;
                padding: 5px 0;
            }
        }
    }
}