//variables
$header-font:'Permanent Marker', cursive;
$color-header: rgb(255, 230, 0);
$text-shadow-header: 5px 2px 2px rgb(243, 69, 0);
//mixins
%distribution-header {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.header {
    background-color: rgb(90, 90, 90);
    color: $color-header;
    padding: 5px;
    @extend %distribution-header;
    &__menu {
        @extend %distribution-header;
        width: 30%;
        font-size: 2rem;
    }
    &__title {
        letter-spacing: 5px;
        text-shadow: $text-shadow-header;
        font-weight: 700;
        font-size: 2.5rem;
        font-family: $header-font
    }
}