.calories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    margin-bottom: 30px;
    @media screen and (max-width: 1000px) {
        flex-flow: column nowrap;
    }
}